vendor/
node_modules/
.env
.env.backup
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.git
.gitignore
README.md
.editorconfig
.styleci.yml
phpunit.xml
tests/
